.info {
  &__wrapper {
    display: flex;
    height: inherit;
    background-image: linear-gradient(to right, #4a4ad9, #a560a5);
  }
  position: relative;
  margin: auto 8rem;
  background-color: #efefef;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1;

  &--name {
    color: rgb(175, 175, 175);
    font-size: 24px;
    margin-bottom: 1rem;
  }
  &--username {
    background-color: #4a4ad9;
    color: white;
    white-space: nowrap;
    font-size: 20px;
    padding: 0.25rem 2rem;
    position: absolute;
    top: -1rem;
    left: 98.5%;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
  }

  &__rows {
    display: flex;
    padding: 2px 0;
    span {
      &:nth-child(1) {
        color: black;
        flex: 110px 0;
      }
      font-size: 18px;
      color: #6e6e6e;
      flex: auto;
    }
  }

  &__logout {
    position: absolute;
    top: 2.2rem;
    right: 5rem;
    button {
      background-color: #f91414;
    }
  }
}
